@font-face {
    font-family: 'Roboto Flex';
    src: url('/assets/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf') format('truetype-variations'), /* Modern, explicit variable TTF */
         url('/assets/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf') format('truetype'); /* Fallback for older browsers */
    font-weight: 100 1000;
    font-stretch: 25% 151%;
    font-display: swap; /* Recommended for better user experience */
}